*{
    margin: 0;
    padding: 0;
}
body, button, input{
    font-family: 'Raleway', sans-serif;
}
main{
    max-width: 1340px;
    margin: 0 auto;
}
h2{
    font-size: 1.25em;
    margin: 0;
}
h3{
    font-size: 1.06em;
    font-weight: bold;
}
h4{
    font-size: 1em;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #0065FC;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    margin: 50px 0;
}
nav a:last-of-type{
    color: #0065FC;
    font-weight: bold;
}
/*SECTION RECHERCHE*/
.recherche{
    display: flex;
    flex-direction: column;
}
.recherche p{
    margin: 16px 0;
}
.champRechercher{
    display: flex;
    flex-direction: row;
    margin: 3px 0 1px 0;
}
.fa-map-marker-alt{
    width: 13px;
    height: 18px;
    padding: 15.5px 18.5px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
input[type=search]{
    width: 234px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}
input[type=submit]{
    width: 134px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-size: 1em;
    font-weight: 700;
}
input[type=submit]:hover{
    color: #0065FC;
    background-color: white;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.filtres{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}
.filtres h3{
    margin: auto 32px auto 0;
}
.filtres button{
    height: 50px;
    font-size: 1.06em;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    background: none;
    padding: 0 21px 0 0;
    margin-right: 24px;
    outline: none;
    cursor: pointer;
}
.filtres .fas{
    font-size: 1.06em;
    padding: 14.5px 12.375px;
    margin-right: 13px;
    background-color: #DEEBFF;
    /* border-right: 2px solid #DEEBFF; */
    border-radius: 50px;
    color: #0065FC;
}
.filtres button:hover{
    background-color: #DEEBFF;
    color: #0065FC;
}
.filtres button:hover i{
    color: black;
    background-color: white;
    border-color: #F2F2F2;
}
.recherche small{
    font-size: 0.75em;
    margin: 5px 0 37px 0;
}
.recherche small .fas{
    padding: 5px 9px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 12px;
}
/*SECTION RESULTATS*/
.resultats{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}
.resultats h2{
    font-weight: bold;
    padding-left: 40px;
}
.resultatsPrincipaux{
    display: flex;
    flex-direction: column;
    width: 880px;
    /* height: 534px; */
    padding: 46px 0 46px 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.afficherPlus{
    font-size: 1.06em;
    font-weight: bold;
    padding-left: 40px;
}
.conteneurCarte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0;
}
.plusPopulaires{
    display: flex;
    flex-direction: column;
    width: 420px;
    /* height: 579px; */
    padding: 47px 0 7px 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.carte{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
}
.carte h4{
    padding-left: 12px;
    margin: 9px 0 6px 0;
}
.carte p{
    font-size: 0.8em;
    padding-left: 12px;
    margin-bottom: 4px;
}
.carte .note{
    padding-left: 12px;
    color: #0065FC;
}
.carte:hover{
    box-shadow: none;
}
.cartePrincipal{
    width: 236px;
    height: 190px;
}
.resultatsPrincipaux .lienCarte{
    width: 246px;
    height: 200px;
    margin: 15px;
}
.cartePrincipal img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.plusPopulaires h2{
    margin-bottom: 17.3px;
}
.plusPopulaires .fa-chart-line{
    margin-left: 118px;
}
.cartePopulaire{
    display: flex;
    width: 334px;
    height: 134px;
}
.cartePopulaire img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.texteCarte{
    padding-right: 50px;
}
.texteCarte p{
    padding-bottom: 40px;
}
.plusPopulaires .lienCarte{
    margin: 17px 40px 16px auto;
    width: 344px;
    height: 144px;
}
/*ACTIVITES*/
.activites{
    margin-bottom: 62px;
}
.conteneurActivites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 446px;
    margin-top: 24px;
}
.carteActivites{
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
}
.carteActivites img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.carteActivites h4{
    padding: 17px 22px;
}
.carteActivites:hover{
    box-shadow: none;
}
/*FOOTER*/
footer{
    width: 100%;
    background-color: #F2F2F2;
}
.contenuFooter{
    max-width: 1340px;
    margin: auto;
    display: flex;
}
.contenuFooter div{
    margin-right: 228px;
    padding-bottom: 29px;
}
footer h3{
    padding: 46px 0 9px 0;
}
li{
    font-size: 1.06em;
    padding: 9px 0;
}
ul{
    list-style: none;
}

/*RESPONSIVE*/

@media all and (max-width: 790px){
    main{
        width: 100%;
    }
    .recherche{
        margin: 0 20px;
    }
    .champRechercher{
        margin: 0;
        width: auto;
    }
    .filtres{
        flex-direction: column;
    }
    .resultats{
        flex-direction: column-reverse;
        width: 100%;
    }
    .resultatsPrincipaux{
        width: 100%;
        flex-wrap: wrap;
        background: none;
    }
    .conteneurActivites{
        width: 100%;
        height: auto;
        align-content: center;
    }
    .contenuFooter{
        flex-direction: column;
        margin: 0 0 0 20px;
    }
    .contenuFooter div{
        margin: 0;
        padding-bottom: 0;
    }
}